@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=VT323&display=swap");

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: end;
}

button {
  color: white;
  margin-top: 1.25%;
  border-radius: 5px;
}

button:active:not(.clearBtn, .backspaceBtn) {
  background-color: gray;
}

.clearBtn:active,
.backspaceBtn:active {
  background-color: rgb(243, 120, 120);
  border: 1px solid rgb(243, 120, 120);
}

.digitBtn,
.decimalBtn {
  background-color: rgb(20, 19, 19);
  border: 1px solid black;
  font-size: 25px;
  width: 6vw;
  height: 8vh;
}

.clearBtn,
.backspaceBtn {
  font-size: 1.1em;

  background-color: rgb(255, 43, 42);
  border: 1px solid red;
}

.red-row {
  width: 99.5%;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.clearBtn {
  flex: 1;
  height: 3vh;
}

.backspaceBtn {
  width: 6vw;
  height: 3vh;
}

.operatorBtn,
.equalBtn,
.display {
  width: 6vw;
  height: 8vh;
  background-color: rgb(47, 51, 50);
  border: 1px solid rgb(47, 51, 50);
  font-size: 25px;
}

.calculator .display {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 6vh;
  padding-right: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 30px;
}

.footer {
  padding-bottom: 16px;
  padding-top: 64px;
  font-size: 18px;
}
.header {
  font-family: "Source Code Pro", monospace;
}
